div#screenshot-area {
    width: 100%;
}

p.screenshot-date {
    font-size: 20px;
    font-weight: bold;
    padding: 0px 8px;
    border-top: 1px solid black;
    border-left: 8px solid black;
    border-bottom: 1px solid black;
    border-right: 8px solid black;
    border-radius: 16px;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
}

div.screenshot-thema-entry {
    border: 1px solid silver;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.8);
}

p.screenshot-thema {
    font-size: 20px;
    color: gray;
    padding: 0px;
    text-align: center;
    margin: 4px 0px;
    line-height: 24px;
}

table.screenshot-table {
    width: 100%;
    padding: 4px;
}
tr.screenshot-row {

}
td.screenshot-cell {
    width: 50%;
    padding: 4px;
}

a.screenshot-entry-link {
    display: block;
    border: 1px solid dodgerblue;
    border-radius: 12px;
    margin: 0px;
    padding: 6px;
    background: rgba(255, 255, 255, 0.8);
}
a.screenshot-entry-link:hover {
    background: dodgerblue;
}
img.screenshot-entry {
    display: block;
    background: white;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border: 2px solid white;
    border-radius: 8px;
    box-sizing: border-box;
    -moz-box-sizing:border-box;    
    -webkit-box-sizing:border-box;
    -ms-box-sizing:border-box;
}